<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortner</title>
      <style>
          body {
            background-image: url('static/images/background.jpg');
          }
        </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Short Url</a></li>
        <li><a data-toggle="tab" href="#menu2">Get Old Url</a></li>
      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
          <!-- home -->
        </div>

        <div id="menu1" class="tab-pane fade">

          <form method="POST" action="http://3.95.160.177:5001/">
            <h2 style="color: silver">Enter Your URL</h2>
            <input type="text" name="url"><br/><br/>
            <center>
              <input type="submit">
            </center>
          </form>
          <h2 style="color: silver">Your generated URL is : &nbsp;
            <a href = "{{output}}">{{output}}</a></h2>

        </div>

        <div id="menu2" class="tab-pane fade">
          
            <form method="POST" action="/decode">
              <input type="text" name="pattern">
              <input type="submit">
              <h2 style="color: silver">Your Original URL is : &nbsp;{{output1}}</h2>
            </form>

        </div>

      </div>
    </div>
  </body>
</html>
